<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Liste des villes</title>
  </head>
  	<body>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
<h1>Vous êtes connecté</h1>
      </thead>
      <tbody>
      <p>
      <h3>Profil utilisateur</h3>
      <ul>
      <li th:text="'Username:'+${authentication.name}"></li>
      <li th:text="'Authorities'+${authentication.authorities}"></li>
      </ul>
      </p>
<!--        <tr th:each="town : ${towns}"> -->
<!--             <td th:text="${town.nom}"></td> -->
<!--             <td th:text="${town.population}"></td> -->
<!--             <td th:text="${town.department.name}"></td> -->
<!--             <td th:text="${town.department.code}"></td> -->
<!--             <td><a th:href="@{'/deleteTown/' + ${town.id}}">Supprimer</a></td> -->
<!--           </tr> -->
      </tbody>
    </table>
  </div>
	</body>
</html>